html,
body {
    height: 100%;
    background-color: #F8F6F6;
}

.overlay img {
    padding: 8px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

.header {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    top: 0;
    position: fixed;
}

.navbar {
    background-color: #F8F6F6 !important;
    width: 100%;
    z-index: 2;
    border-bottom: #EDEBEB 1px solid;
}

#head5 {
  font-size: 20px;
}

#head5p {
  font-size: 18px;
}

.landing {
    position: relative;
    background-image: url('http://preview.ibb.co/cdssPb/plane_airplane_passenger_airliner_height_sky_flight_sea_lights_airport_town_night_beautiful_background_blur_bokeh_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-top: 20px;
}

#searchinput {
  position: absolute;
  padding-top: 80px;
}

.input-group-btn {
    background-color: white;
}

#twitterheader {
  text-align: center;
  color: #0084b4;
}

#theteam h4 {
  color: black;
}

#reservationconfirmation {
  text-align: center;
  font-size: 14px;
  padding-right: 570px;
}

.btn-secondary {
    background-color: #EDEBEB;
    height: 50px;
    border-style: none;
    border-radius: 0;
    color: #6B5F5F;
    height: 50px;
    width: 163px;
}

.departure {
    background-color: white;
}

section .departures {
  b
}

p {
    color: #6B5F5F;
    font: 12px "Lucida Grande";
}

h5 {
    padding-bottom: 10px;
    color: #6B5F5F;
    font: 14px "Lucida Grande";
}

h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #6B5F5F;
    font: 18px "Lucida Grande";
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #6B5F5F;
    font: 18px "Lucida Grande";
}

#searchinput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn-group {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.logo {
    width: 124px;
    height: 44px;
}

.departures {
    background-color: #EDEBEB !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 115px;
    margin-right: 115px;
}


/* placeholder of the search bar */

::-webkit-input-placeholder {
    font-size: 12px;
    color: #EDEBEB;
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    color: #EDEBEB;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    color: #EDEBEB;
}

 :-ms-input-placeholder {
    font-size: 12px;
    color: #EDEBEB;
}

#twitter {
    float: inherit;
    font-style: oblique;
    color: #0084b4;
    text-align: center;
    border: 3px solid #0084b4;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}

/* End of Nils' Twitter Design */

.col-centered {
    float: none;
    margin: auto;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

form {
  display: inline-block;
  text-align: center;
}

.aftersubmit {
    display: none;
}

.contactus h5 {
    text-align: center;
}

.contactus {
    text-align: center;
    background-color: #EDEBEB;
    padding: 30px 0;
    border-bottom-left-radius: 100% 450px;
    border-top-right-radius: 100% 450px;
    border-top-left-radius: 100% 450px;
    border-bottom-right-radius: 100% 450px;
}

#send {
  background-color: #004E96;
  border: none;
}

.my-error-class {
    color: red;
}

.my-valid-class {
    color: green;
}


@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.col-centered{
   float: none;
   margin: 0 auto;
}

.carousel-caption {
	background-color: rgba(25, 25, 25, 0.6);
	width: 30%;
	margin: auto;
}

.carousel-caption p {
  color: white;
}

/* Team design */
.theteam {
  text-align: center;
  font-size: 30px;
  width: 70%;
  margin: auto;
  color: #0084b4;
}

.theteam h4 {
  font-size: 50%;
}

#teamgrid {
  color: #0084b4;
}

#teamgrid2 {
  color: #0084b4;
}

#copyright {
  float: left;
  padding-left: 50px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.row {
  cursor: pointer;
  transition: 0.3s;
}

.profilepic {
  border-radius: 50%;
  margin: auto;
  border-style: solid;
  border-color: #6B5F5F;
  display: block;
}

.profilepicoverlay {
  border-style: solid;
  border-radius: 5%;
}

h6 {
  width: 70%;
  margin: auto;
}

h4 {
  text-align: center;
}

#niko:hover {
  opacity: 0.7;
}

#roos:hover {
  opacity: 0.7;
}

#simonas:hover {
  opacity: 0.7;
}

#rosanne:hover {
  opacity: 0.7;
}

#nils:hover {
  opacity: 0.7;
}

#overlayniko{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 5;
  margin: auto;
  text-align: center;
  color: white;
}

#overlayroos{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 5;
  margin: auto;
  text-align: center;
  color: white;
}

#overlaysimonas{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 5;
  margin: auto;
  text-align: center;
  color: white;
}

#overlayrosanne{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 5;
  margin: auto;
  text-align: center;
  color: white;
}

#overlaynils{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 5;
  margin: auto;
  text-align: center;
  color: white;
}

/* End of team design */

/* Cookie design */

#cookieoverlayid {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 5;
    margin: auto;
    text-align: center;
}

.cookietext {
  width: 60%;
  margin: auto;
  color: white;
  border-style: solid;
}

#cookiebtn {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .navbar-nav li a {
        text-align: center;
        margin-right: 16px;
    }
}

/* Footer */
footer{
  background-color: #EDEBEB;
  height: 250px;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.wrapper1{
  margin: 0 auto;
  padding-top: 30px;
}


.hr{
  size: 2px;
  color: #6B5F5F;
  margin-left: 50px;
  margin-right: 50px;
}

.wrapper2 div{
  display: inline-block;
  margin-right: 5px;
}
/* END Footer */
